.container-fluid
  .navbar-header
    ul.list-inline
      li
        a(href='/') Home      
      li
        a(href='/about') About          
      li
        a(href='/') Kontakt    
        a.facebook-blue(href='#footer') Facebook
      li.pull-right Copyright © 2016 
        a.author(rel='author', href='/', target='_blank') Edwin Vargas
