=title
nav
  a(href="/") Home
  div(style="clearfix")
  a(href="/about") About


  footer.footer(role='contentinfo')
    .container
      ul.list-inline
        li
          a(href='/') Kontakt      
        li
          a(href='/') Kontakt          
        li
          a(href='/') Kontakt          
        li
          a(href='/') Kontakt
          
          a.facebook-blue(href='#footer') Facebook
        li.pull-right
          | Copyright © 2016
          a.author(rel='author', href='/', target='_blank') Edwin Vargas
