.container
  .navbar-header
    .logo-md
      a(href='/')
        img(src='img/logo.png', alt='UNET Logo')
    a.navbar-brand.nav-color.red
      a(href='/') LIB 
        span.highlight UNET
        span.navbar-brand-hyphen  - 
        br
        span.nav-description Laboratorio de Instrumentación Biológica
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  nav.navbar-collapse.collapse(role='navigation')
    ul.nav.navbar-nav.navbar-right
      li.nav-color.orange
        a(href='/') Inicio
      li.nav-color.yellow
        a(href='/') Quienes Somos
      li.nav-color.blue
        a(href='/') Investigacion       
      li.nav-color.red
        a(href='/') Acerca de
