.container
        .navbar-header
          .logo-md
            a(href='/') UNET
          h1.navbar-brand.nav-color.red
            a(href='/') | LIB 
              span.highlight UNET
              span.navbar-brand-hyphen  - 
              br
              span.nav-description Laboratorio de Instrumentación Biológica
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
            
        nav.navbar-collapse.collapse(role='navigation')
          ul.nav.navbar-nav.navbar-right
            li.nav-color.blue
              a(href='/')
                | Inicio
                span.nav-colon : 
                br
                span.nav-description Inicio...
            li.nav-color.red
              a(href='/about')
                | Quienes Somos
                span.nav-colon : 
                br
                span.nav-description Quienes Somos...
            li.nav-color.green
              a(href='/')
                | Animierter Prototyp
                span.nav-colon : 
                br
                span.nav-description Animierter Prototyp...
            li.nav-color.blue
              a(href='/')
                | eBook Download
                span.nav-colon : 
                br
                span.nav-description eBook Download...
